<% layout('layouts/boilerplate.ejs')%>

<h1>Number of Pets (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Description</th>
        <th>Adopted</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const pet of model) { %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.type %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.age %></td>
        <td><%= pet.description %></td>
        <td><%= pet.adopted %></td>
        <td class="d-print-none">
          <a class="btn btn-sm btn-warning" href="/edit/<%= pet.pet_id %>"
            >Edit</a
          >
          <a class="btn btn-sm btn-danger" href="/delete/<%= pet.pet_id %>"
            >Delete</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
